extends layout

block content
  h1 A monster thank you from all of us!
  .dashboard
    .monsters
      img#monster2.monster(src='/images/monsters/monster_02.png', alt='monster', draggable='true')
      img#monster4.monster(src='/images/monsters/monster_04.png', alt='monster', draggable='true')
      img#monster6.monster(src='/images/monsters/monster_06.png', alt='monster', draggable='true')
      img#monster9.monster(src='/images/monsters/monster_09.png', alt='monster', draggable='true')
  .dropzone