extends layout

//- Send monsters from controller to view in an array
//- Loop through them in Jade template #{}, for loop
//- Set data-attr as ID

block content
  .wrapper
    .dropzone
      h1.header
        | A monster
        span.animated.tada.notice-me thank you
        | from all of us!
        a#arrow(href='#closet')
          span.glyphicon.glyphicon-download.down-arrow
      .background
        a#left-arrow(href='#')
          span.glyphicon.glyphicon-chevron-left
        a#right-arrow(href='#')
          span.glyphicon.glyphicon-chevron-right
    #closet
      .monster-container
        .closet-header Closet
        br

        for monster in monsters
          .draggable
            .bubble-container
            img.monster(src='/images/monsters/monster' + monster.monsterId + '.svg', alt='monster' data-id=monster.monsterId, data-card-id=id)

    include speechbubble.html
