extends layout

//- Send monsters from controller to view in an array
//- Loop through them in Jade template #{}, for loop
//- Set data-attr as ID

block content
  .wrapper
    .dropzone
      h1.header
        | A monster
        span.animated.tada.notice-me thank you
        | from all of us!
        a#arrow(href='#closet')
          span.glyphicon.glyphicon-download
      img.background(src='/images/backgrounds/backyard.jpg')
    #closet
      .monster-container
        .closet-header Closet
        br
        .draggable
          img.monster(src='/images/monsters/monster1.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster2.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster3.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster4.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster5.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster6.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster7.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster8.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster9.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster10.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster11.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster12.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster13.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster14.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster15.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster16.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster17.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster18.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster19.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster20.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster21.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster22.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster23.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster24.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster25.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster26.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster27.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster28.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster29.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster30.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster31.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster32.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster33.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster34.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster35.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster36.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster37.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster38.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster39.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster40.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster41.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster42.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster43.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster44.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster45.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster46.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster47.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster48.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster49.svg', alt='monster')
        .draggable
          img.monster(src='/images/monsters/monster50.svg', alt='monster')
