extends layout

block content
  .wrapper
    .dropzone
      h1.header
        | A monster
        span.animated.tada.notice-me thank you
        | from all of us to
        span.recipient
        | !
        a#arrow(href='#closet')
          span.glyphicon.glyphicon-download.down-arrow.bouncing-arrow
        a.share-card(data-toggle='modal' data-target='#sharing-modal')
          i.fa.fa-share-square-o
      .background
        a#left-arrow
          span.glyphicon.glyphicon-chevron-left.bouncing-left-arrow
        a#right-arrow
          span.glyphicon.glyphicon-chevron-right.bouncing-right-arrow
    #closet
      .monster-container
        .closet-header Closet
        br

        for monster in monsters
          .draggable
            .bubble-container
            img.monster.jiggly(src='/images/monsters/monster' + monster.monsterId + '.svg', alt='monster' data-id=monster.monsterId, data-card-id=id)

    audio.entrance-sound
      source(src='/sounds/monster-entrance.ogg', preload='auto', type='audio/ogg')
      source(src='/sounds/monster-entrance.mp3', preload='auto', type='audio/mpeg')

    audio.typing-sound
      source(src='/sounds/typing.wav', preload='auto', type='audio/wav')
      source(src='/sounds/typing.mp3', preload='auto', type='audio/mpeg')

    include modal
    include speechbubble.html
    include sharingmodal