extends layout

block content
  .wrapper
    .dropzone
      h1.header
        | A monster
        span.animated.tada.notice-me thank you
        | from all of us!
        a#arrow(href='#closet')
          span.glyphicon.glyphicon-download.down-arrow.bouncing-arrow
      .background
        a#left-arrow(href='#')
          span.glyphicon.glyphicon-chevron-left
        a#right-arrow(href='#')
          span.glyphicon.glyphicon-chevron-right
    #closet
      .monster-container
        .closet-header Closet
        br

        for monster in monsters
          .draggable
            .bubble-container
            img.monster.jiggly(src='/images/monsters/monster' + monster.monsterId + '.svg', alt='monster' data-id=monster.monsterId, data-card-id=id)

    audio.entrance-sound(src='/sounds/monster-entrance.ogg', preload='auto')
    audio.typing-sound(src='/sounds/typing.ogg', preload='auto')

    include speechbubble.html