doctype 5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title= title
    meta(name='description', content='Monster Thanks lets you create real-time, collaborative thank you cards.')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lato:900')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,300')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Londrina+Sketch')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/animate.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/analytics.js')
  body
    block content
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="//code.jquery.com/ui/1.10.3/jquery-ui.js")
    script(src="/javascripts/jquery.scrollTo.min.js")
    script(src="/javascripts/jquery.localScroll.js")
    script(src="/socket.io/socket.io.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js")
    script(src="/javascripts/main.js")