doctype 5
html
  head
    title= title
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lato:900')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Josefin+Sans:100')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Londrina+Sketch')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/animate.min.css')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="//code.jquery.com/ui/1.10.3/jquery-ui.js")
    script(src="/javascripts/jquery.scrollTo.min.js")
    script(src="/javascripts/jquery.localScroll.js")
    script(src="/socket.io/socket.io.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js")
    script(src="/javascripts/main.js")