#myModal.modal.fade(role='dialog', aria-labelledby='instructions', aria-hidden='true')
    .modal-dialog
        .modal-content
          .modal-header
            h2.modal-title How to create a card
            img.jiggly.step-monster(src='/images/monsters/monster50.svg', alt='monster')
          .modal-body
            ol.steps
              li
                span.attn-text Drag
                |  a monster from the closet.
              li
                span.attn-text Drop
                |  it on the card background above.
              li Click
                span.glyphicon.glyphicon-chevron-left.small-left-arrow
                | or
                span.glyphicon.glyphicon-chevron-right.small-right-arrow
                | to change the background.

              li
                span.attn-text Resize
                |  a monster by dragging the handle on its
                span.attn-text  bottom right.

              li
                span.attn-text Double click
                |  on a
                span.attn-text  monster
                |  to activate the speech bubble.
              li
                span.attn-text Write
                |  your thank you message.
              li
                span.attn-text Double click
                |  on the
                span.attn-text  speech bubble
                |  if you need to edit it.
              li Click
                i.fa.fa-share-square-o.share-card-modal
                | to
                span.attn-text  share the link
                |  with friends so everyone can write on the card.
              li
                span.attn-text Send the link
                  i.fa.fa-share-square-o.share-card-modal
                | to the recipient. Have fun!
          .modal-footer
            form(role='form')
              input.form-control.recipient-input(type='text', placeholder='Enter recipient\'s first name')
              input.btn.btn-primary.close-modal-btn(type='button', data-dismiss='modal', value='show your appreciation')