*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  background-color: #e8e8e8;
}
div.foo {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.letter {
  display: inline-block;
  font-weight: 900;
  font-size: 8em;
  margin: 0.2em;
  position: relative;
  color: #09b39c;
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
}
.letter:before {
  color: #fff;
  text-shadow: -1px 0 1px rgba(255,255,255,0.8), 1px 0 1px rgba(0,0,0,0.8);
  z-index: 3;
  transform: rotateX(0deg) rotateY(-15deg) rotateZ(0deg);
  -webkit-transform: rotateX(0deg) rotateY(-15deg) rotateZ(0deg);
}
.letter:after {
  color: rgba(0,0,0,0.11);
  z-index: 2;
  transform: scale(1.08, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 1deg);
  -webkit-transform: scale(1.08, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 1deg);
}
.letter:hover:before {
  color: #fafafa;
  transform: rotateX(0deg) rotateY(-70deg) rotateZ(0deg);
  -webkit-transform: rotateX(0deg) rotateY(-70deg) rotateZ(0deg);
}
.letter:hover:after {
  transform: scale(1.08, 1) rotateX(0deg) rotateY(70deg) rotateZ(0deg) skew(0deg, 22deg);
  -webkit-transform: scale(1.08, 1) rotateX(0deg) rotateY(70deg) rotateZ(0deg) skew(0deg, 22deg);
}
.letter:before,
.letter:after {
  position: absolute;
  content: attr(data-letter);
  transform-origin: top left;
  -webkit-transform-origin: top left;
  top: 0;
  left: 0;
}
.letter,
.letter:before,
.letter:after {
  transition: all 0.3s ease-in-out;
}
.hero {
  text-align: center;
}
.action-btn {
  text-transform: uppercase;
  background-color: #09b39c;
  border-color: #089b87;
  border-radius: 0;
  height: 100px;
  font-size: 3em;
  letter-spacing: 5px;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-delay: 2000;
  -webkit-animation-delay: 2000;
}
.action-btn:hover {
  background-color: #0acbb1;
  border-color: #09b39c;
}
footer {
  width: 100%;
  height: 150px;
  background-color: #25382f;
  color: #fff;
}
.maker {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  font-size: 0.9em;
  padding-top: 120px;
  text-align: center;
}
#codepalette {
  color: #fff;
  margin-left: 5px;
}
.glyphicon {
  font-size: 0.9em;
  color: #09b39c;
  margin-left: 40px;
}
.glyphicon:hover {
  color: #0acbb1;
}
.header {
  font-family: 'Londrina Sketch', cursive;
  color: #fff;
  letter-spacing: 2px;
  word-spacing: 3px;
  font-size: 4em;
  display: inline-block;
  padding: 0;
  margin-bottom: 20px;
}
.notice-me {
  text-transform: uppercase;
  display: inline-block;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  margin: 0 30px;
  font-size: 1.4em;
}
.dropzone {
  padding: 20px 40px 40px;
  background: #000;
  text-align: center;
}
.background {
  border-radius: 6px;
  border: 6px solid #fff;
  min-height: 1024px;
  background: url("../images/backgrounds/backyard.jpg") no-repeat;
  background-size: cover;
}
#closet {
  background: #fff;
  padding: 40px;
}
.monster-container {
  background: #e8e8e8;
  border-radius: 6px;
  padding: 10px;
  border: 6px solid #09b39c;
  text-align: center;
}
.closet-header {
  font-family: 'Londrina Sketch', cursive;
  color: #089b87;
  letter-spacing: 2px;
  font-size: 5em;
  display: inline-block;
}
.draggable {
  display: inline-block;
  margin: 10px;
}
.monster {
  cursor: move;
  margin: 10px;
  width: 100px;
  height: 100px;
}
.monster:hover {
  border: 2px dashed #fff;
}
.bubble {
  cursor: move;
}
.bubble:hover {
  border: 2px dashed #9e9e9e;
}
.bubble {
  position: relative;
  padding: 10px;
  background: #e8e8e8;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  z-index: 1;
}
.bubble:after {
  content: "";
  position: absolute;
  bottom: -24px;
  left: 52px;
  border-style: solid;
  border-width: 24px 15px 0;
  border-color: #e8e8e8 transparent;
  display: block;
  width: 0;
  z-index: 2;
}
