
/* line 1 : /Applications/LiveReload.app/Contents/Resources/Stylus.lrplugin/node_modules/stylus/lib/functions/index.styl */

/* line 10 : /Users/ru-005/Projects/refactoru/monsterthanks/public/stylesheets/style.styl */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* line 13 : /Users/ru-005/Projects/refactoru/monsterthanks/public/stylesheets/style.styl */
body {
  font-family: 'Lato', sans-serif;
  background-color: #e8e8e8;
}

/* line 17 : /Users/ru-005/Projects/refactoru/monsterthanks/public/stylesheets/style.styl */
.letter {
  display: inline-block;
  font-weight: 900;
  font-size: 8em;
  margin: 0.2em;
  position: relative;
  color: #09b39c;
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
}

/* line 27 : /Users/ru-005/Projects/refactoru/monsterthanks/public/stylesheets/style.styl */
.letter:before {
  color: #fff;
  text-shadow: -1px 0 1px rgba(255,255,255,0.8), 1px 0 1px rgba(0,0,0,0.8);
  z-index: 3;
  -webkit-transform: rotateX(0deg) rotateY(-15deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(-15deg) rotateZ(0deg);
}

/* line 33 : /Users/ru-005/Projects/refactoru/monsterthanks/public/stylesheets/style.styl */
.letter:after {
  color: rgba(0,0,0,0.11);
  z-index: 2;
  -webkit-transform: scale(1.08, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 1deg);
  transform: scale(1.08, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 1deg);
}

/* line 38 : /Users/ru-005/Projects/refactoru/monsterthanks/public/stylesheets/style.styl */

/* line 39 : /Users/ru-005/Projects/refactoru/monsterthanks/public/stylesheets/style.styl */
.letter:hover:before {
  color: #fafafa;
  -webkit-transform: rotateX(0deg) rotateY(-70deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(-70deg) rotateZ(0deg);
}

/* line 43 : /Users/ru-005/Projects/refactoru/monsterthanks/public/stylesheets/style.styl */
.letter:hover:after {
  -webkit-transform: scale(1.08, 1) rotateX(0deg) rotateY(70deg) rotateZ(0deg) skew(0deg, 22deg);
  transform: scale(1.08, 1) rotateX(0deg) rotateY(70deg) rotateZ(0deg) skew(0deg, 22deg);
}

/* line 47 : /Users/ru-005/Projects/refactoru/monsterthanks/public/stylesheets/style.styl */
.letter:before,
.letter:after {
  position: absolute;
  content: attr(data-letter);
  -webkit-transform-origin: top left;
  transform-origin: top left;
  top: 0;
  left: 0;
}

/* line 55 : /Users/ru-005/Projects/refactoru/monsterthanks/public/stylesheets/style.styl */
.letter,
.letter:before,
.letter:after {
  transition: all 0.3s ease-in-out;
}

/* line 58 : /Users/ru-005/Projects/refactoru/monsterthanks/public/stylesheets/style.styl */
.hero {
  text-align: center;
}

/* line 61 : /Users/ru-005/Projects/refactoru/monsterthanks/public/stylesheets/style.styl */
.action-btn {
  text-transform: uppercase;
  background-color: #09b39c;
  border-color: #089b87;
  border-radius: 0;
  height: 100px;
  font-size: 3em;
  letter-spacing: 5px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

/* line 74 : /Users/ru-005/Projects/refactoru/monsterthanks/public/stylesheets/style.styl */
.action-btn:hover {
  background-color: #0acbb1;
  border-color: #09b39c;
}

/* line 78 : /Users/ru-005/Projects/refactoru/monsterthanks/public/stylesheets/style.styl */
footer {
  width: 100%;
  height: 150px;
  background-color: #25382f;
  color: #fff;
}

/* line 84 : /Users/ru-005/Projects/refactoru/monsterthanks/public/stylesheets/style.styl */
.maker {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  font-size: 0.9em;
  padding-top: 120px;
  text-align: center;
}

/* line 91 : /Users/ru-005/Projects/refactoru/monsterthanks/public/stylesheets/style.styl */
.codepalette {
  color: #fff;
  margin-left: 5px;
}

/* line 97 : /Users/ru-005/Projects/refactoru/monsterthanks/public/stylesheets/style.styl */
.down-arrow {
  font-size: 0.9em;
  color: #09b39c;
  margin-left: 40px;
}

/* line 102 : /Users/ru-005/Projects/refactoru/monsterthanks/public/stylesheets/style.styl */
.down-arrow:hover {
  color: #0acbb1;
}

/* line 105 : /Users/ru-005/Projects/refactoru/monsterthanks/public/stylesheets/style.styl */
.header {
  font-family: 'Londrina Sketch', cursive;
  color: #fff;
  letter-spacing: 2px;
  word-spacing: 3px;
  font-size: 4em;
  display: inline-block;
  padding: 0;
  margin-bottom: 20px;
}

/* line 115 : /Users/ru-005/Projects/refactoru/monsterthanks/public/stylesheets/style.styl */
.notice-me {
  text-transform: uppercase;
  display: inline-block;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  margin: 0 30px;
  font-size: 1.4em;
}

/* line 125 : /Users/ru-005/Projects/refactoru/monsterthanks/public/stylesheets/style.styl */
.dropzone {
  padding: 20px 40px 40px;
  background: #34495e;
  text-align: center;
}

/* line 130 : /Users/ru-005/Projects/refactoru/monsterthanks/public/stylesheets/style.styl */
#right-arrow,
#left-arrow {
  font-size: 3em;
  color: #fff;
  position: relative;
  top: 476px;
  z-index: 3;
}

/* line 137 : /Users/ru-005/Projects/refactoru/monsterthanks/public/stylesheets/style.styl */
#right-arrow:hover {
  color: #9e9e9e;
}

/* line 140 : /Users/ru-005/Projects/refactoru/monsterthanks/public/stylesheets/style.styl */
#left-arrow:hover {
  color: #9e9e9e;
}

/* line 143 : /Users/ru-005/Projects/refactoru/monsterthanks/public/stylesheets/style.styl */
#right-arrow {
  float: right;
  margin-right: 15px;
}

/* line 147 : /Users/ru-005/Projects/refactoru/monsterthanks/public/stylesheets/style.styl */
#left-arrow {
  float: left;
  margin-left: 15px;
}

/* line 151 : /Users/ru-005/Projects/refactoru/monsterthanks/public/stylesheets/style.styl */
.background {
  border-radius: 6px;
  border: 6px solid #fff;
  min-height: 1024px;
  background: url("../images/backgrounds/backyard.jpg") no-repeat;
  background-size: cover;
}

/* line 158 : /Users/ru-005/Projects/refactoru/monsterthanks/public/stylesheets/style.styl */
#closet {
  background: #fff;
  padding: 40px;
}

/* line 162 : /Users/ru-005/Projects/refactoru/monsterthanks/public/stylesheets/style.styl */
.monster-container {
  background: #e8e8e8;
  border-radius: 6px;
  padding: 10px;
  border: 6px solid #09b39c;
  text-align: center;
}

/* line 169 : /Users/ru-005/Projects/refactoru/monsterthanks/public/stylesheets/style.styl */
.closet-header {
  font-family: 'Londrina Sketch', cursive;
  color: #089b87;
  letter-spacing: 2px;
  font-size: 5em;
  display: inline-block;
}

/* line 176 : /Users/ru-005/Projects/refactoru/monsterthanks/public/stylesheets/style.styl */
.draggable {
  display: inline-block;
  margin: 10px;
  width: 100px;
  height: 100px;
}

/* line 182 : /Users/ru-005/Projects/refactoru/monsterthanks/public/stylesheets/style.styl */
.monster {
  cursor: move;
  margin: 10px;
  width: 100px;
  height: 100px;
  position: absolute;
}

/* line 189 : /Users/ru-005/Projects/refactoru/monsterthanks/public/stylesheets/style.styl */
.monster:hover {
  border: 2px dashed #fff;
}

/* line 192 : /Users/ru-005/Projects/refactoru/monsterthanks/public/stylesheets/style.styl */
.bubble {
  cursor: move;
  display: inline-block;
  margin-bottom: 18px;
  width: 250px;
  position: relative;
  padding: 10px;
  background: #e8e8e8;
  border-radius: 6px;
  z-index: 1;
}

/* line 202 : /Users/ru-005/Projects/refactoru/monsterthanks/public/stylesheets/style.styl */
.bubble:after {
  content: "";
  position: absolute;
  bottom: -24px;
  left: 52px;
  border-style: solid;
  border-width: 24px 15px 0;
  border-color: #e8e8e8 transparent;
  display: block;
  width: 0;
  z-index: 2;
}

/* line 214 : /Users/ru-005/Projects/refactoru/monsterthanks/public/stylesheets/style.styl */
.bubble:hover {
  border: 2px dashed #9e9e9e;
}

/* line 217 : /Users/ru-005/Projects/refactoru/monsterthanks/public/stylesheets/style.styl */
.jiggly {
  -webkit-animation: jiggle 0.2s infinite;
  -moz-animation: jiggle 0.2s infinite;
  animation: jiggle 0.2s infinite;
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  transform: rotate(-1deg);
}

/* line 231 : /Users/ru-005/Projects/refactoru/monsterthanks/public/stylesheets/style.styl */
.bouncing-arrow {
  -webkit-animation: bounce 1s infinite;
  animation: bounce 1s infinite;
}

/* line 225 : /Applications/LiveReload.app/Contents/Resources/Stylus.lrplugin/node_modules/stylus/lib/functions/index.styl */
@-moz-keyframes jiggle {
  0% {
    transform: rotate(-1deg);
  }

  50% {
    transform: rotate(1deg);
  }
}

/* line 225 : /Applications/LiveReload.app/Contents/Resources/Stylus.lrplugin/node_modules/stylus/lib/functions/index.styl */
@-webkit-keyframes jiggle {
  0% {
    transform: rotate(-1deg);
  }

  50% {
    transform: rotate(1deg);
  }
}

/* line 225 : /Applications/LiveReload.app/Contents/Resources/Stylus.lrplugin/node_modules/stylus/lib/functions/index.styl */
@-o-keyframes jiggle {
  0% {
    transform: rotate(-1deg);
  }

  50% {
    transform: rotate(1deg);
  }
}

/* line 225 : /Applications/LiveReload.app/Contents/Resources/Stylus.lrplugin/node_modules/stylus/lib/functions/index.styl */
@-ms-keyframes jiggle {
  0% {
    transform: rotate(-1deg);
  }

  50% {
    transform: rotate(1deg);
  }
}

/* line 225 : /Applications/LiveReload.app/Contents/Resources/Stylus.lrplugin/node_modules/stylus/lib/functions/index.styl */
@keyframes jiggle {
  0% {
    transform: rotate(-1deg);
  }

  50% {
    transform: rotate(1deg);
  }
}

/* line 235 : /Applications/LiveReload.app/Contents/Resources/Stylus.lrplugin/node_modules/stylus/lib/functions/index.styl */
@-moz-keyframes bounce {
  0% {
    top: 0;
  }

  50% {
    top: 10px;
  }

  100% {
    top: 0;
  }
}

/* line 235 : /Applications/LiveReload.app/Contents/Resources/Stylus.lrplugin/node_modules/stylus/lib/functions/index.styl */
@-webkit-keyframes bounce {
  0% {
    top: 0;
  }

  50% {
    top: 10px;
  }

  100% {
    top: 0;
  }
}

/* line 235 : /Applications/LiveReload.app/Contents/Resources/Stylus.lrplugin/node_modules/stylus/lib/functions/index.styl */
@-o-keyframes bounce {
  0% {
    top: 0;
  }

  50% {
    top: 10px;
  }

  100% {
    top: 0;
  }
}

/* line 235 : /Applications/LiveReload.app/Contents/Resources/Stylus.lrplugin/node_modules/stylus/lib/functions/index.styl */
@-ms-keyframes bounce {
  0% {
    top: 0;
  }

  50% {
    top: 10px;
  }

  100% {
    top: 0;
  }
}

/* line 235 : /Applications/LiveReload.app/Contents/Resources/Stylus.lrplugin/node_modules/stylus/lib/functions/index.styl */
@keyframes bounce {
  0% {
    top: 0;
  }

  50% {
    top: 10px;
  }

  100% {
    top: 0;
  }
}
