/*  --------------------------------------------------
  HOMEPAGE
  -------------------------------------------------- */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  background-color: #e8e8e8;
}
.hero {
  text-align: center;
}
.monster-header {
  height: 150px;
}
.letter {
  display: inline-block;
  font-weight: 900;
  font-size: 8em;
  margin: 0.2em;
  position: relative;
  color: #09b39c;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  z-index: 1;
}
.letter:before {
  color: #fff;
  text-shadow: -1px 0 1px rgba(255,255,255,0.8), 1px 0 1px rgba(0,0,0,0.8);
  z-index: 3;
  -webkit-transform: rotateX(0deg) rotateY(-15deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(-15deg) rotateZ(0deg);
}
.letter:after {
  color: rgba(0,0,0,0.11);
  z-index: 2;
  -webkit-transform: scale(1.08, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 1deg);
  transform: scale(1.08, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 1deg);
}
.letter:hover:before {
  color: #fafafa;
  -webkit-transform: rotateX(0deg) rotateY(-70deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(-70deg) rotateZ(0deg);
}
.letter:hover:after {
  -webkit-transform: scale(1.08, 1) rotateX(0deg) rotateY(70deg) rotateZ(0deg) skew(0deg, 22deg);
  transform: scale(1.08, 1) rotateX(0deg) rotateY(70deg) rotateZ(0deg) skew(0deg, 22deg);
}
.letter:before,
.letter:after {
  position: absolute;
  content: attr(data-letter);
  -webkit-transform-origin: top left;
  transform-origin: top left;
  top: 0;
  left: 0;
}
.letter,
.letter:before,
.letter:after {
  transition: all 0.3s ease-in-out;
}
.hiding-monster {
  margin-bottom: 22px;
  margin-left: 5px;
}
.subtitle {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  color: #25382f;
  margin-bottom: 60px;
  font-size: 3em;
  letter-spacing: 2px;
  word-spacing: 10px;
}
.action-btn {
  text-transform: uppercase;
  background-color: #09b39c;
  border-color: #089b87;
  border-radius: 0;
  height: 100px;
  font-size: 3em;
  letter-spacing: 5px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.action-btn:hover {
  background-color: #0acbb1;
  border-color: #09b39c;
}
footer {
  width: 100%;
  height: 150px;
  background-color: #25382f;
  color: #fff;
}
.maker {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  font-size: 0.9em;
  padding-top: 110px;
  text-align: center;
}
.footer-link {
  color: #fff;
  margin-left: 5px;
}
.footer-link:hover {
  color: #fff;
}
.social-icons img {
  height: 20px;
  vertical-align: text-bottom;
  margin-left: 5px;
}
/*  --------------------------------------------------
  CARD
  -------------------------------------------------- */
.dropzone {
  padding: 20px 40px 40px;
  background: #34495e;
  text-align: center;
}
.header {
  font-family: 'Londrina Sketch', cursive;
  color: #fff;
  letter-spacing: 2px;
  word-spacing: 3px;
  font-size: 4em;
  display: inline-block;
  padding: 0;
  margin-bottom: 20px;
}
.notice-me {
  text-transform: uppercase;
  display: inline-block;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  margin: 0 30px;
  font-size: 1.4em;
}
.recipient {
  margin-left: 18px;
}
.down-arrow {
  font-size: 0.9em;
  color: #09b39c;
  margin-left: 18px;
}
.share-card {
  color: #09b39c;
  margin-left: 18px;
}
.down-arrow:hover,
.share-card:hover {
  color: #0acbb1;
}
.background {
  border-radius: 6px;
  border: 6px solid #fff;
  position: relative;
  min-height: 1024px;
}
#right-arrow,
#left-arrow {
  font-size: 3em;
  color: #fff;
  position: relative;
  top: 476px;
  z-index: 3;
}
#right-arrow:hover {
  color: #9e9e9e;
}
#left-arrow:hover {
  color: #9e9e9e;
}
#right-arrow {
  float: right;
  margin-right: 15px;
}
#left-arrow {
  float: left;
  margin-left: 15px;
}
#closet {
  background: #fff;
  padding: 40px 40px 10px;
}
.monster-container {
  background: #e8e8e8;
  border-radius: 6px;
  padding: 10px;
  border: 6px solid #09b39c;
  text-align: center;
}
.closet-header {
  font-family: 'Londrina Sketch', cursive;
  color: #089b87;
  letter-spacing: 2px;
  font-size: 5em;
  display: inline-block;
}
.draggable {
  display: inline-block;
  margin: 10px;
  width: 100px;
  height: 100px;
}
.monster {
  cursor: move;
  width: 100px;
  height: 100px;
}
.monster:hover {
  border: 2px dashed #fff;
}
.bubble {
  cursor: move;
  display: inline-block;
  margin-bottom: 18px;
  width: 250px;
  position: relative;
  padding: 10px;
  background: #e8e8e8;
  border-radius: 6px;
  z-index: 2;
}
.bubble:after {
  content: "";
  position: absolute;
  bottom: -23px;
  left: 52px;
  border-style: solid;
  border-width: 24px 15px 0;
  border-color: #e8e8e8 transparent;
  display: block;
  width: 0;
  z-index: 1;
}
.bubble:hover {
  border: 2px dashed #9e9e9e;
}
.editable-bubble,
.old-bubble {
  margin-bottom: 30px;
}
.jiggly {
  -webkit-animation: jiggle 0.2s infinite;
  -moz-animation: jiggle 0.2s infinite;
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
}
@-webkit-keyframes jiggle {
  0% {
    -webkit-transform: rotate(-1deg);
  }

  50% {
    -webkit-transform: rotate(1deg);
  }
}
@-moz-keyframes jiggle {
  0% {
    -moz-transform: rotate(-1deg);
  }

  50% {
    -moz-transform: rotate(1deg);
  }
}
.bouncing-arrow {
  -webkit-animation: bounce 1s infinite;
  animation: bounce 1s infinite;
}
.bouncing-left-arrow {
  -webkit-animation: nav-bounce-left 1s infinite;
  animation: nav-bounce-left 1s infinite;
}
.bouncing-right-arrow {
  -webkit-animation: nav-bounce-right 1s infinite;
  animation: nav-bounce-right 1s infinite;
}
.social-sharing {
  text-align: center;
  padding-top: 10px;
}
.social-icons-card img {
  height: 25px;
}
.twitter {
  margin-left: 20px;
}
/*  --------------------------------------------------
  INSTRUCTION MODAL
  -------------------------------------------------- */
.modal-content {
  width: 760px;
}
.modal-body {
  padding-bottom: 1px;
}
.modal-title {
  font-family: 'Londrina Sketch', cursive;
  font-size: 4em;
  color: #09b39c;
  word-spacing: 2px;
  letter-spacing: 1px;
  display: inline-block;
}
.step-monster {
  width: 70px;
  height: 70px;
  margin-left: 10px;
  vertical-align: text-bottom;
}
.steps li {
  font-size: 1.3em;
  margin-bottom: 17px;
  word-spacing: 2px;
  letter-spacing: 1px;
}
.small-left-arrow,
.small-right-arrow,
.share-card-modal {
  color: #09b39c;
  margin: 0 7px;
}
.share-card-modal {
  font-size: 20px;
}
.attn-text {
  color: #09b39c;
}
.recipient-input,
.url {
  margin-top: 2px;
  margin-bottom: 22px;
  height: 50px;
}
.recipient-input::-webkit-input-placeholder {
  color: #09b39c;
  font-size: 1em;
  word-spacing: 2px;
  letter-spacing: 1px;
}
.recipient-input::-moz-placeholder {
  color: #09b39c;
  font-size: 1em;
  word-spacing: 2px;
  letter-spacing: 1px;
}
.recipient-input:-moz-placeholder {
  color: #09b39c;
  font-size: 1em;
  word-spacing: 2px;
  letter-spacing: 1px;
}
.recipient-input:-ms-input-placeholder {
  color: #09b39c;
  font-size: 1em;
  word-spacing: 2px;
  letter-spacing: 1px;
}
.recipient-input-error::-webkit-input-placeholder {
  color: #b94a48;
}
.recipient-input-error::-moz-placeholder {
  color: #b94a48;
}
.recipient-input-error:-moz-placeholder {
  color: #b94a48;
}
.recipient-input-error:-ms-input-placeholder {
  color: #b94a48;
}
input[type="text"] {
  font-size: 1.3em;
}
.close-modal-btn {
  text-transform: uppercase;
  background-color: #09b39c;
  border-color: #089b87;
  border-radius: 6px;
  font-size: 1.2em;
  word-spacing: 8px;
  letter-spacing: 3px;
  padding: 12px 20px;
}
.close-modal-btn:hover,
.close-modal-btn:active,
.close-modal-btn:focus,
.action-btn:hover,
.action-btn:active,
.action-btn:focus {
  background-color: #0acbb1;
  border-color: #09b39c;
}
@-moz-keyframes bounce {
  0% {
    top: 0;
  }

  50% {
    top: 10px;
  }

  100% {
    top: 0;
  }
}
@-webkit-keyframes bounce {
  0% {
    top: 0;
  }

  50% {
    top: 10px;
  }

  100% {
    top: 0;
  }
}
@-o-keyframes bounce {
  0% {
    top: 0;
  }

  50% {
    top: 10px;
  }

  100% {
    top: 0;
  }
}
@-ms-keyframes bounce {
  0% {
    top: 0;
  }

  50% {
    top: 10px;
  }

  100% {
    top: 0;
  }
}
@keyframes bounce {
  0% {
    top: 0;
  }

  50% {
    top: 10px;
  }

  100% {
    top: 0;
  }
}
@-moz-keyframes nav-bounce-left {
  0% {
    left: 0;
  }

  50% {
    left: 5px;
  }

  100% {
    left: 0;
  }
}
@-webkit-keyframes nav-bounce-left {
  0% {
    left: 0;
  }

  50% {
    left: 5px;
  }

  100% {
    left: 0;
  }
}
@-o-keyframes nav-bounce-left {
  0% {
    left: 0;
  }

  50% {
    left: 5px;
  }

  100% {
    left: 0;
  }
}
@-ms-keyframes nav-bounce-left {
  0% {
    left: 0;
  }

  50% {
    left: 5px;
  }

  100% {
    left: 0;
  }
}
@keyframes nav-bounce-left {
  0% {
    left: 0;
  }

  50% {
    left: 5px;
  }

  100% {
    left: 0;
  }
}
@-moz-keyframes nav-bounce-right {
  0% {
    right: 0;
  }

  50% {
    right: 5px;
  }

  100% {
    right: 0;
  }
}
@-webkit-keyframes nav-bounce-right {
  0% {
    right: 0;
  }

  50% {
    right: 5px;
  }

  100% {
    right: 0;
  }
}
@-o-keyframes nav-bounce-right {
  0% {
    right: 0;
  }

  50% {
    right: 5px;
  }

  100% {
    right: 0;
  }
}
@-ms-keyframes nav-bounce-right {
  0% {
    right: 0;
  }

  50% {
    right: 5px;
  }

  100% {
    right: 0;
  }
}
@keyframes nav-bounce-right {
  0% {
    right: 0;
  }

  50% {
    right: 5px;
  }

  100% {
    right: 0;
  }
}
